@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-base{
  background-color: blue;
  padding: 2px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}

.my-input {
background-color: transparent;
border-width: 1px;
border-color: blue;
border-radius: 4px;
color: #ffffff;
padding: 2px 4px;
outline: none;
width: 100%;
transition:all 0.2s ease-in-out ;
}

  